<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>An Holdings</title>
    <!-- <link rel="icon" type="image/x-icon" href="images/favicon.png"> -->
    <link rel="stylesheet" href="libs/swiper/swiper-bundle.min.css" />

    <link rel="stylesheet" href="js/croppie.min.css" />
    <link href="js/select2.min.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css"
    />

    <link rel="stylesheet" href="css/style.min.css" />
  </head>

  <body>
    <div id="app">
      <main>
        <div
          id="dashboard"
          class="flex flex-col bg-[#d8eeff] min-h-[100vh] h-full w-full"
        >
          <sidebar></sidebar>

          <div id="RootLayout" class="block !p-6">
            <user-switch></user-switch>

            <div class="!mb-6">
              <filte-table></filte-table>
            </div>

            <div class="flex flex-wrap items-stretch !gap-3 !mb-2">
              <div class="block">
                <button
                  type="button"
                  id="headBtnSetting"
                  class="head-btn-setting inline-flex items-center gap-2 !rounded-[8px] !bg-white !p-[6px_24px]"
                  data-bs-toggle="dropdown"
                >
                  <img src="images/asset/icon-filter.svg" alt="" />
                  <span class="text-[#363636] text-[14px] font-bold">
                    Bộ lọc
                  </span>
                </button>

                <div class="dropdown">
                  <span
                    class="block text-[#363636] text-[12px] font-bold mb-2.5"
                  >
                    Cài đặt hiển thị
                  </span>

                  <ul
                    class="dropdown-menu rounded-[8px] border border-solid border-[#ececec] bg-white"
                  >
                    <li class="!mb-4">
                      <div class="dropdown-item">
                        <select
                          id="filters"
                          class="block-selector"
                          data-attr="Tìm kiếm"
                        >
                          <option value="all">Tất cả</option>
                          <option value="thoi-dai">Thời Đại</option>
                          <option value="pho-bien">Phố Biển</option>
                          <option value="hai-au">Hải Âu</option>
                          <option value="sao-bien">Sao Biển</option>
                          <option value="ngoc-trai">Ngọc Trai</option>
                        </select>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="ms-auto">
                <a
                  href=""
                  class="inline-flex !bg-[#3F8CFE] !rounded-[8px] !gap-1 p-[6px_12px]"
                >
                  <img src="images/asset/mdi_export.svg" alt="" />
                  <span class="!text-white !text-[14px] !font-bold">
                    Export file
                  </span>
                </a>

                <a
                  href=""
                  class="inline-flex !bg-[#3F8CFE] !rounded-[8px] !gap-1 p-[6px_12px]"
                >
                  <img src="images/asset/mdi_import.svg" alt="" />
                  <span class="!text-white !text-[14px] !font-bold">
                    Import file
                  </span>
                </a>
              </div>
            </div>

            <table-magic></table-magic>
          </div>
        </div>
      </main>
    </div>
    <script src="js/vue.global.js"></script>
    <script src="js/vue3-sfc-loader.js"></script>
    <script src="js/vuedefineasync.js"></script>
    <script src="libs/jquery/jquery-3.7.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <script src="libs/bootstrap/popper.min.js"></script>
    <script src="libs/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="libs/swiper/swiper-bundle.min.js"></script>

    <script src="js/index.global.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script src="js/croppie.min.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-enterprise@33.1.1/dist/ag-grid-enterprise.min.js"></script>
    <script defer src="js/main.js"></script>
    <script>
      Vue.createApp({
        components: {
          sidebar: Vue.defineAsyncComponent(() =>
            loadModule('./vue_components/sidebar.vue', options),
          ),
          'root-layout': Vue.defineAsyncComponent(() =>
            loadModule('./vue_components/root-layout.vue', options),
          ),
          'user-switch': Vue.defineAsyncComponent(() =>
            loadModule('./vue_components/user-switch.vue', options),
          ),
          'filte-table': Vue.defineAsyncComponent(() =>
            loadModule('./vue_components/filte-table.vue', options),
          ),
          'table-magic': Vue.defineAsyncComponent(() =>
            loadModule('./vue_components/table-magic.vue', options),
          ),
        },
        data() {
          return {}
        },
        mounted() {
          window.onload = () => {
            // $('#modalCroppie').modal('show')
          }
        },
      }).mount('#app')
    </script>
  </body>
</html>
