<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>An Holdings</title>
    <!-- <link rel="icon" type="image/x-icon" href="images/favicon.png"> -->
    <link rel="stylesheet" href="libs/swiper/swiper-bundle.min.css" />

    <link rel="stylesheet" href="js/croppie.min.css" />

    <link rel="stylesheet" href="css/style.min.css" />
  </head>

  <body>
    <div id="app">
      <main>
        <div
          id="dashboard"
          class="flex flex-col bg-[#d8eeff] min-h-[100vh] h-full w-full"
        >
          <sidebar></sidebar>

          <div id="RootLayout" class="block !p-6">
            <user-switch></user-switch>

            <div class="block">
              <h1
                class="block !m-0 !text-[#363636] !text-[16px] !font-bold uppercase"
              >
                Thông tin cá nhân
              </h1>
            </div>

            <form
              action=""
              id="dashboardForm"
              class="rounded-[12px] bg-white px-2.5 !py-1 xl:max-w-[552px] !mt-[100px] max-md:!mt-[30px]"
            >
              <div class="group-image bg-[#F4F9FD] rounded-[8px] p-[25px]">
                <!-- <div class="block">
                  <img id="cropperImage" src="images/asset/bg-login.jpg" />
                </div>

                <button type="button" onclick="imageCropped()">result</button> -->
                <div class="w-[128px] h-[128px] mx-auto relative">
                  <div
                    class="relative w-full h-full rounded-[50%] overflow-hidden"
                  >
                    <input
                      type="file"
                      name=""
                      id="croppieImageUpload"
                      class="absolute opacity-0 pointer-events-none"
                    />
                    <label for="croppieImageUpload" class="cursor-pointer">
                      <img
                        src="images/asset/md-ava.png"
                        class="object-cover w-full h-full"
                        alt=""
                      />
                    </label>
                  </div>

                  <div
                    class="absolute bottom-[-15px] right-[20px] pointer-events-none"
                  >
                    <img src="images/asset/circle-ic-cam.png" alt="" />
                  </div>
                </div>
              </div>

              <div class="max-w-[265px] mx-auto p-[30px_0_60px]">
                <div class="group-inputs">
                  <div class="input !mb-2.5">
                    <span
                      class="block text-[#909090] text-[14px] font-normal !mb-1"
                      >Tên đăng nhập</span
                    >
                    <input
                      type="text"
                      name=""
                      id=""
                      placeholder="Nguyễn Đức Hiếu"
                      class="w-full border border-solid border-[#ECECEC] bg-white !rounded-[8px] text-[#363636] text-[14px] font-normal !px-2 !py-1"
                    />
                  </div>
                  <div class="input !mb-2.5">
                    <span
                      class="block text-[#909090] text-[14px] font-normal !mb-1"
                      >Số điện thoại</span
                    >
                    <input
                      type="text"
                      name=""
                      id=""
                      placeholder="9094 666 555"
                      class="w-full border border-solid border-[#ECECEC] bg-white !rounded-[8px] text-[#363636] text-[14px] font-normal !p-2"
                    />
                  </div>
                  <div class="input !mb-2.5">
                    <span
                      class="block text-[#909090] text-[14px] font-normal !mb-1"
                      >Email</span
                    >
                    <input
                      type="text"
                      name=""
                      id=""
                      placeholder="hieund105@abc.com"
                      class="w-full border border-solid border-[#ECECEC] bg-white !rounded-[8px] text-[#363636] text-[14px] font-normal !p-2"
                    />
                  </div>
                  <div class="input !mb-2.5">
                    <span
                      class="block text-[#909090] text-[14px] font-normal !mb-1"
                      >Mật khẩu</span
                    >
                    <input
                      type="text"
                      name=""
                      id=""
                      placeholder="Nhập mật khẩu"
                      class="w-full border border-solid border-[#ECECEC] bg-white !rounded-[8px] text-[#363636] text-[14px] font-normal !p-2"
                    />
                  </div>
                  <div class="input !mb-2.5">
                    <span
                      class="block text-[#909090] text-[14px] font-normal !mb-1"
                      >Nhập lại mật khẩu</span
                    >
                    <input
                      type="text"
                      name=""
                      id=""
                      placeholder="Nhập lại mật khẩu"
                      class="w-full border border-solid border-[#ECECEC] bg-white !rounded-[8px] text-[#363636] text-[14px] font-normal !p-2"
                    />
                  </div>
                </div>

                <div class="text-center !mt-7">
                  <button
                    type="button"
                    class="text-white text-[14px] font-bold !rounded-[8px] !bg-[#3F8CFE] hover:!bg-[#18478D] transition max-w-[152px] w-full !p-2.5"
                  >
                    Lưu
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </main>

      <!-- Modal -->
      <div
        class="modal fade modal-dialog-centered"
        id="modalCroppie"
        style="display: none"
      >
        <div class="modal-dialog modal-dialog-centered !max-w-[410px]">
          <div class="relative modal-content">
            <div class="absolute z-10 right-4 top-4">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <path
                    d="M12 13.4L7.09999 18.3C6.91665 18.4834 6.68332 18.575 6.39999 18.575C6.11665 18.575 5.88332 18.4834 5.69999 18.3C5.51665 18.1167 5.42499 17.8834 5.42499 17.6C5.42499 17.3167 5.51665 17.0834 5.69999 16.9L10.6 12L5.69999 7.10005C5.51665 6.91672 5.42499 6.68338 5.42499 6.40005C5.42499 6.11672 5.51665 5.88338 5.69999 5.70005C5.88332 5.51672 6.11665 5.42505 6.39999 5.42505C6.68332 5.42505 6.91665 5.51672 7.09999 5.70005L12 10.6L16.9 5.70005C17.0833 5.51672 17.3167 5.42505 17.6 5.42505C17.8833 5.42505 18.1167 5.51672 18.3 5.70005C18.4833 5.88338 18.575 6.11672 18.575 6.40005C18.575 6.68338 18.4833 6.91672 18.3 7.10005L13.4 12L18.3 16.9C18.4833 17.0834 18.575 17.3167 18.575 17.6C18.575 17.8834 18.4833 18.1167 18.3 18.3C18.1167 18.4834 17.8833 18.575 17.6 18.575C17.3167 18.575 17.0833 18.4834 16.9 18.3L12 13.4Z"
                    fill="#909090"
                  />
                </svg>
              </button>
            </div>

            <div class="modal-body !p-[60px_0_50px]">
              <div class="text-center !mb-10">
                <h3 class="!text-[#363636] !text-[14px] !font-bold uppercase">
                  chọn ảnh đại diện
                </h3>
              </div>

              <div id="croppie-container"></div>

              <div class="text-center">
                <button
                  type="button"
                  class="inline-block !bg-[#3F8CFE] !rounded-[8px] !p-[6px_30px] !text-[#fff] !text-[16px] !font-bold"
                >
                  Xác nhận
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/vue.global.js"></script>
    <script src="js/vue3-sfc-loader.js"></script>
    <script src="js/vuedefineasync.js"></script>
    <script src="libs/jquery/jquery-3.7.1.min.js"></script>
    <script src="libs/bootstrap/popper.min.js"></script>
    <script src="libs/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="libs/swiper/swiper-bundle.min.js"></script>

    <script src="js/index.global.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script src="js/croppie.min.js"></script>
    <script defer src="js/main.js"></script>
    <script>
      Vue.createApp({
        components: {
          sidebar: Vue.defineAsyncComponent(() =>
            loadModule('./vue_components/sidebar.vue', options),
          ),
          'root-layout': Vue.defineAsyncComponent(() =>
            loadModule('./vue_components/root-layout.vue', options),
          ),
          'user-switch': Vue.defineAsyncComponent(() =>
            loadModule('./vue_components/user-switch.vue', options),
          ),
        },
        data() {
          return {}
        },
        mounted() {
          window.addEventListener('load', () => {
            inputTogglePassword()
            checkVerifyOTP()
            sidebarMobile()
            croppedImage()
            checkSidebar()
            // toggleMenuDropdown()
          })
        },
      }).mount('#app')
    </script>
  </body>
</html>
