<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>An Holdings</title>
    <!-- <link rel="icon" type="image/x-icon" href="images/favicon.png"> -->
    <link rel="stylesheet" href="libs/swiper/swiper-bundle.min.css" />

    <link rel="stylesheet" href="js/croppie.min.css" />
    <link href="js/select2.min.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css"
    />

    <link rel="stylesheet" href="css/style.min.css" />
  </head>

  <body>
    <div id="app">
      <main>
        <div
          id="dashboard"
          class="flex flex-col bg-[#d8eeff] min-h-[100vh] h-full w-full"
        >
          <div
            id="Sidebar"
            class="fixed xl:top-6 xl:left-6 max-xl:top-0 max-xl:left-0 z-50 max-w-[240px] h-full xl:h-[calc(100%-48px)]"
          >
            <div
              id="sidebarTranslate"
              class="flex flex-col xl:rounded-[84px] overflow-hidden bg-white h-full"
            >
              <div class="absolute xl:hidden top-4 right-4">
                <button type="button" id="btnSidebar-mb">
                  <svg
                    width="15"
                    height="15"
                    viewBox="0 0 15 15"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M7.5 9.09696L1.91065 14.6863C1.70152 14.8954 1.43536 15 1.11217 15C0.788973 15 0.522813 14.8954 0.313688 14.6863C0.104562 14.4772 0 14.211 0 13.8878C0 13.5646 0.104562 13.2985 0.313688 13.0894L5.90304 7.5L0.313688 1.91065C0.104562 1.70152 0 1.43536 0 1.11217C0 0.788973 0.104562 0.522813 0.313688 0.313688C0.522813 0.104562 0.788973 0 1.11217 0C1.43536 0 1.70152 0.104562 1.91065 0.313688L7.5 5.90304L13.0894 0.313688C13.2985 0.104562 13.5646 0 13.8878 0C14.211 0 14.4772 0.104562 14.6863 0.313688C14.8954 0.522813 15 0.788973 15 1.11217C15 1.43536 14.8954 1.70152 14.6863 1.91065L9.09696 7.5L14.6863 13.0894C14.8954 13.2985 15 13.5646 15 13.8878C15 14.211 14.8954 14.4772 14.6863 14.6863C14.4772 14.8954 14.211 15 13.8878 15C13.5646 15 13.2985 14.8954 13.0894 14.6863L7.5 9.09696Z"
                      fill="#464661"
                    />
                  </svg>
                </button>
              </div>

              <div class="p-[30px_24px_16px]">
                <div class="w-full h-auto max-w-full">
                  <a href="" title="">
                    <img
                      class="object-scale-down w-full h-full"
                      src="images/asset/logo.png"
                      alt=""
                    />
                  </a>
                </div>
              </div>

              <div
                class="overflow-bar-custom flex flex-col h-full overflow-auto bg-cover bg-center bg-no-repeat xl:rounded-[12px] p-[70px_0_70px_10px]"
                style="
                  background-image: url('../template/images/asset/bg-sidebar.png');
                "
              >
                <div class="flex flex-col h-full gap-1">
                  <!-- overflow-scroll h-full -->
                  <div
                    id="sidebarList"
                    class="flex flex-col gap-1 pb-10 sidebar-list"
                  >
                    <div class="child" v-for="(item, id) in menuData" :key="id">
                      <div class="relative item">
                        <a
                          href=""
                          title=""
                          :class="{ active: id === 0 }"
                          class="link flex items-center !gap-2"
                        >
                          <div class="icon !p-2">
                            <img
                              :src="item.icon"
                              alt=""
                              class="object-scale-down w-6 h-6"
                            />
                          </div>

                          <div
                            class="text grow !text-[16px] font-bold leading-normal"
                          >
                            {{ item.title }}
                          </div>
                        </a>

                        <button
                          type="button"
                          class="onToggleDropdown inline-flex items-center justify-center w-[24px] h-[24px] text-center absolute right-0 top-1/2 -translate-y-[50%] z-10"
                          v-if="item.sub"
                        >
                          <svg
                            width="8"
                            height="6"
                            viewBox="0 0 8 6"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M0.963998 1.16401C1.04757 1.0804 1.1468 1.01408 1.25601 0.968836C1.36523 0.923588 1.48228 0.900299 1.6005 0.900299C1.71871 0.900299 1.83577 0.923588 1.94498 0.968836C2.05419 1.01408 2.15342 1.0804 2.237 1.16401L4 2.92701L5.764 1.16401C5.93388 1.00112 6.16081 0.911265 6.39616 0.913693C6.6315 0.916122 6.85653 1.01064 7.02302 1.177C7.1895 1.34336 7.2842 1.56831 7.28681 1.80365C7.28943 2.03899 7.19975 2.26599 7.037 2.43601L4.637 4.83601C4.55342 4.91961 4.45419 4.98593 4.34498 5.03118C4.23577 5.07643 4.11871 5.09971 4.0005 5.09971C3.88228 5.09971 3.76523 5.07643 3.65602 5.03118C3.5468 4.98593 3.44758 4.91961 3.364 4.83601L0.963998 2.43601C0.795457 2.26726 0.70079 2.03851 0.70079 1.80001C0.70079 1.56151 0.795457 1.33276 0.963998 1.16401Z"
                              fill="white"
                            />
                          </svg>
                        </button>
                      </div>

                      <div class="sub" style="display: none" v-if="item.sub">
                        <div
                          class="item-sub"
                          v-for="(sub, id) in item.sub"
                          :key="id"
                        >
                          <a
                            href=""
                            title=""
                            class="leading-normal link-sub"
                            :class="{ active: id === 0 }"
                          >
                            {{ sub }}
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="RootLayout" class="block !p-6">
            <user-switch></user-switch>

            <div class="!mb-2">
              <div class="bg-white rounded-[12px] p-2.5">
                <div class="rounded-[8px] bg-[#F4F9FD] py-2.5 px-2">
                  <div class="flex flex-wrap items-stretch gap-2.5">
                    <div class="flex-auto group-filter">
                      <div class="group-input group-input-admin">
                        <div class="macan-input-searchbox">
                          <input
                            type="text"
                            name=""
                            id="macanSearchbox"
                            placeholder="Nhập từ khóa"
                          />
                          <label for="macanSearchbox">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                            >
                              <path
                                d="M11.2222 17.4444C14.6587 17.4444 17.4444 14.6587 17.4444 11.2222C17.4444 7.78578 14.6587 5 11.2222 5C7.78578 5 5 7.78578 5 11.2222C5 14.6587 7.78578 17.4444 11.2222 17.4444Z"
                                stroke="#909090"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                              <path
                                d="M19 19L15.6555 15.6555"
                                stroke="#909090"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                            </svg>
                          </label>
                        </div>
                      </div>
                    </div>

                    <div class="flex-auto group-filter">
                      <div class="group-input group-input-admin">
                        <select
                          class="block-selector-admin"
                          data-attr="Chọn quyền"
                        >
                          <option value="all">Tất cả</option>
                          <option value="thoi-dai">Thời Đại</option>
                          <option value="pho-bien">Phố Biển</option>
                          <option value="hai-au">Hải Âu</option>
                          <option value="sao-bien">Sao Biển</option>
                          <option value="ngoc-trai">Ngọc Trai</option>
                        </select>
                      </div>
                    </div>

                    <div class="flex-auto group-filter">
                      <div class="group-input group-input-admin">
                        <select
                          class="block-selector-admin"
                          data-attr="Chọn trạng thái"
                        >
                          <option value="all">Tất cả</option>
                          <option value="thoi-dai">Thời Đại</option>
                          <option value="pho-bien">Phố Biển</option>
                          <option value="hai-au">Hải Âu</option>
                          <option value="sao-bien">Sao Biển</option>
                          <option value="ngoc-trai">Ngọc Trai</option>
                        </select>
                      </div>
                    </div>

                    <button
                      type="button"
                      class="!inline-flex !items-center !bg-[#3F8CFE] !rounded-[8px] !gap-1 !p-[6px_12px]"
                    >
                      <img src="images/asset/lucide_search.svg" alt="" />
                      <span class="!text-white !text-[14px] !font-bold">
                        Tìm kiếm
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="flex flex-wrap items-stretch !gap-3 !mb-2">
              <div class="block">
                <div class="relative">
                  <button
                    type="button"
                    id="btnFilters"
                    class="btn-filters inline-flex items-center gap-2 !rounded-[8px] !bg-white !p-[6px_24px]"
                  >
                    <img src="images/asset/icon-filter.svg" alt="" />
                    <span class="text-[#363636] text-[14px] font-bold">
                      Bộ lọc
                    </span>
                  </button>

                  <div
                    id="dropdownFilters"
                    class="dropdown-filters absolute bg-white border border-solid border-[#ECECEC] rounded-[8px] min-w-[265px] p-2.5 z-100"
                    style="display: none"
                  >
                    <div class="!mb-2.5">
                      <span class="text-[#363636] text-[12px] font-bold !ps-5">
                        Cài đặt hiển thị
                      </span>
                    </div>

                    <div class="mb-1 input-search-filter">
                      <input
                        type="text"
                        name=""
                        id=""
                        placeholder="Tìm kiếm"
                        class="text-[#363636] !text-[12px] placeholder:italic border border-solid border-[#ECECEC] w-full p-[5px_20px]"
                      />
                    </div>

                    <div class="border border-solid border-[#ECECEC] w-full">
                      <div
                        class="item"
                        v-for="n in 4"
                        onclick="(e) => e.stopPropagation()"
                      >
                        <input type="checkbox" name="" :id="'showID' + n" />
                        <label
                          :for="'showID' + n"
                          class="text-[#363636] text-[12px] font-normal"
                        >
                          KT đất
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="inline-flex flex-wrap items-center gap-3 ms-auto">
                <button
                  type="button"
                  class="!inline-flex !items-center !bg-[#3F8CFE] !rounded-[8px] !gap-1 !p-[6px_12px]"
                  data-bs-target="#modalAdminAdding"
                  data-bs-toggle="modal"
                >
                  <img src="images/asset/si_add-fill.svg" alt="" />
                  <span class="!text-white !text-[14px] !font-bold">
                    Thêm mới
                  </span>
                </button>

                <div class="modal fade" id="modalAdminAdding">
                  <div
                    class="modal-dialog modal-dialog-centered !max-w-[410px]"
                  >
                    <div class="modal-content !border-0 !rounded-[12px]">
                      <button
                        type="button"
                        data-bs-dismiss="modal"
                        class="absolute z-10 top-4 right-4"
                      >
                        <img
                          src="images/asset/material-symbols_close-rounded.svg"
                          alt=""
                        />
                      </button>

                      <div class="xl:!p-[60px] xl:!pb-12 !p-4 modal-body">
                        <div class="mb-8 text-center">
                          <h3
                            class="inline-block !text-[#363636] !text-[14px] !font-bold uppercase"
                          >
                            thêm mới khách hàng
                          </h3>
                        </div>

                        <form action="" class="form-add-new">
                          <div class="grid grid-cols-12 gap-x-[10px] gap-y-4">
                            <div class="col-span-12">
                              <div class="ipt-gr">
                                <span class="required title"> Họ và tên </span>
                                <input
                                  type="text"
                                  name=""
                                  id=""
                                  placeholder="Nhập họ và tên"
                                />
                              </div>
                            </div>

                            <div class="col-span-12">
                              <div class="ipt-gr">
                                <span class="required title">
                                  Số điện thoại
                                </span>
                                <input
                                  type="text"
                                  name=""
                                  id=""
                                  placeholder="Nhập số điện thoại"
                                />
                              </div>
                            </div>

                            <div class="col-span-12 lg:col-span-6">
                              <div class="ipt-gr">
                                <span class="required title">
                                  Tỉnh/ Thành
                                </span>
                                <select name="" id="">
                                  <option value="">Chọn tỉnh thành</option>
                                  <option value="">Chọn tỉnh thành</option>
                                  <option value="">Chọn tỉnh thành</option>
                                </select>
                              </div>
                            </div>

                            <div class="col-span-12 lg:col-span-6">
                              <div class="ipt-gr">
                                <span class="required title"> Dự án </span>
                                <select name="" id="">
                                  <option value="">Chọn dự án</option>
                                  <option value="">Chọn dự án</option>
                                  <option value="">Chọn dự án</option>
                                </select>
                              </div>
                            </div>

                            <div class="col-span-12 lg:col-span-6">
                              <div class="ipt-gr">
                                <span class="required title"> Nguồn </span>
                                <select name="" id="">
                                  <option value="">Chọn nguồn</option>
                                  <option value="">Chọn nguồn</option>
                                  <option value="">Chọn nguồn</option>
                                </select>
                              </div>
                            </div>

                            <div class="col-span-12 lg:col-span-6">
                              <div class="ipt-gr">
                                <span class="required title"> Sale </span>
                                <select name="" id="">
                                  <option value="">Chọn Sale</option>
                                  <option value="">Chọn Sale</option>
                                  <option value="">Chọn Sale</option>
                                </select>
                              </div>
                            </div>

                            <div class="col-span-12">
                              <div class="ipt-gr">
                                <span class="required title"> Ghi chú </span>
                                <textarea
                                  name=""
                                  id=""
                                  class="min-h-[135px]"
                                ></textarea>
                              </div>
                            </div>

                            <div class="col-span-12 mt-3">
                              <div class="text-center">
                                <button
                                  type="button"
                                  class="inline-flex items-center !p-[5px_30px] !bg-[#3F8CFE] !rounded-[8px] text-[#fff] text-[16px] font-bold"
                                >
                                  Xác nhận
                                </button>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- <table-magic></table-magic> -->
          </div>
        </div>
      </main>
    </div>
    <script src="js/vue.global.js"></script>
    <script src="js/vue3-sfc-loader.js"></script>
    <script src="js/vuedefineasync.js"></script>
    <script src="libs/jquery/jquery-3.7.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <script src="libs/bootstrap/popper.min.js"></script>
    <script src="libs/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="libs/swiper/swiper-bundle.min.js"></script>

    <script src="js/index.global.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/tippy.umd.min.js"></script>
    <script src="js/croppie.min.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-enterprise@33.1.1/dist/ag-grid-enterprise.min.js"></script>
    <script defer src="js/main.js"></script>
    <script>
      Vue.createApp({
        components: {
          sidebar: Vue.defineAsyncComponent(() =>
            loadModule('./vue_components/sidebar.vue', options),
          ),
          'root-layout': Vue.defineAsyncComponent(() =>
            loadModule('./vue_components/root-layout.vue', options),
          ),
          'user-switch': Vue.defineAsyncComponent(() =>
            loadModule('./vue_components/user-switch.vue', options),
          ),
          'filte-table': Vue.defineAsyncComponent(() =>
            loadModule('./vue_components/filte-table.vue', options),
          ),
          'table-magic': Vue.defineAsyncComponent(() =>
            loadModule('./vue_components/table-magic.vue', options),
          ),
        },
        data() {
          return {}
        },
        mounted() {
          window.onload = () => {
            // $('#modalAdminAdding').modal('show')
          }
        },
      }).mount('#app')
    </script>
  </body>
</html>
