<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>An Holdings</title>
    <!-- <link rel="icon" type="image/x-icon" href="images/favicon.png"> -->
    <link rel="stylesheet" href="libs/swiper/swiper-bundle.min.css" />

    <link rel="stylesheet" href="js/croppie.min.css" />
    <link href="js/select2.min.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css"
    />

    <link rel="stylesheet" href="css/style.min.css" />
  </head>

  <body>
    <div id="app">
      <main>
        <div
          id="dashboard"
          class="flex flex-col bg-[#d8eeff] min-h-[100vh] h-full w-full"
        >
          <sidebar></sidebar>

          <div id="RootLayout" class="block !p-6">
            <user-switch></user-switch>

            <div class="!mb-2">
              <div class="bg-white rounded-[12px] p-2.5">
                <div class="rounded-[8px] bg-[#F4F9FD] py-2.5 px-2">
                  <div class="flex flex-wrap items-stretch gap-2.5">
                    <div class="flex-auto group-filter">
                      <div class="group-input group-input-admin">
                        <div class="macan-input-searchbox">
                          <input
                            type="text"
                            name=""
                            id="macanSearchbox"
                            placeholder="Nhập từ khóa"
                          />
                          <label for="macanSearchbox">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                            >
                              <path
                                d="M11.2222 17.4444C14.6587 17.4444 17.4444 14.6587 17.4444 11.2222C17.4444 7.78578 14.6587 5 11.2222 5C7.78578 5 5 7.78578 5 11.2222C5 14.6587 7.78578 17.4444 11.2222 17.4444Z"
                                stroke="#909090"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                              <path
                                d="M19 19L15.6555 15.6555"
                                stroke="#909090"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                            </svg>
                          </label>
                        </div>
                      </div>
                    </div>

                    <div class="flex-auto group-filter">
                      <div class="group-input group-input-admin">
                        <select
                          class="block-selector-admin"
                          data-attr="Chọn quyền"
                        >
                          <option value="all">Tất cả</option>
                          <option value="thoi-dai">Thời Đại</option>
                          <option value="pho-bien">Phố Biển</option>
                          <option value="hai-au">Hải Âu</option>
                          <option value="sao-bien">Sao Biển</option>
                          <option value="ngoc-trai">Ngọc Trai</option>
                        </select>
                      </div>
                    </div>

                    <div class="flex-auto group-filter">
                      <div class="group-input group-input-admin">
                        <select
                          class="block-selector-admin"
                          data-attr="Chọn trạng thái"
                        >
                          <option value="all">Tất cả</option>
                          <option value="thoi-dai">Thời Đại</option>
                          <option value="pho-bien">Phố Biển</option>
                          <option value="hai-au">Hải Âu</option>
                          <option value="sao-bien">Sao Biển</option>
                          <option value="ngoc-trai">Ngọc Trai</option>
                        </select>
                      </div>
                    </div>

                    <button
                      type="button"
                      class="!inline-flex !items-center !bg-[#3F8CFE] !rounded-[8px] !gap-1 !p-[6px_12px]"
                    >
                      <img src="images/asset/lucide_search.svg" alt="" />
                      <span class="!text-white !text-[14px] !font-bold">
                        Tìm kiếm
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="flex flex-wrap items-stretch !gap-3 !mb-2">
              <div class="block">
                <div class="relative">
                  <button
                    type="button"
                    id="btnFilters"
                    class="btn-filters inline-flex items-center gap-2 !rounded-[8px] !bg-white !p-[6px_24px]"
                  >
                    <img src="images/asset/icon-filter.svg" alt="" />
                    <span class="text-[#363636] text-[14px] font-bold">
                      Bộ lọc
                    </span>
                  </button>

                  <div
                    id="dropdownFilters"
                    class="dropdown-filters absolute bg-white border border-solid border-[#ECECEC] rounded-[8px] min-w-[265px] p-2.5 z-100"
                    style="display: none"
                  >
                    <div class="!mb-2.5">
                      <span class="text-[#363636] text-[12px] font-bold !ps-5">
                        Cài đặt hiển thị
                      </span>
                    </div>

                    <div class="mb-1 input-search-filter">
                      <input
                        type="text"
                        name=""
                        id=""
                        placeholder="Tìm kiếm"
                        class="text-[#363636] !text-[12px] placeholder:italic border border-solid border-[#ECECEC] w-full p-[5px_20px]"
                      />
                    </div>

                    <div class="border border-solid border-[#ECECEC] w-full">
                      <div
                        class="item"
                        v-for="n in 4"
                        onclick="(e) => e.stopPropagation()"
                      >
                        <input type="checkbox" name="" :id="'showID' + n" />
                        <label
                          :for="'showID' + n"
                          class="text-[#363636] text-[12px] font-normal"
                        >
                          KT đất
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="inline-flex flex-wrap items-center gap-3 ms-auto">
                <button
                  type="button"
                  class="!inline-flex !items-center !bg-[#3F8CFE] !rounded-[8px] !gap-1 !p-[6px_12px]"
                  data-bs-target="#modalAdminAdding"
                  data-bs-toggle="modal"
                >
                  <img src="images/asset/si_add-fill.svg" alt="" />
                  <span class="!text-white !text-[14px] !font-bold">
                    Thêm mới
                  </span>
                </button>

                <div class="modal fade" id="modalAdminAdding">
                  <div
                    class="modal-dialog modal-dialog-centered !max-w-[410px]"
                  >
                    <div class="modal-content !border-0 !rounded-[12px]">
                      <button
                        type="button"
                        data-bs-dismiss="modal"
                        class="absolute z-10 top-4 right-4"
                      >
                        <img
                          src="images/asset/material-symbols_close-rounded.svg"
                          alt=""
                        />
                      </button>

                      <div class="xl:!p-[60px] xl:!pb-12 !p-4 modal-body">
                        <div class="mb-8 text-center">
                          <h3
                            class="inline-block !text-[#363636] !text-[14px] !font-bold uppercase"
                          >
                            thêm mới khách hàng
                          </h3>
                        </div>

                        <form action="" class="form-add-new">
                          <div class="grid grid-cols-12 gap-x-[10px] gap-y-4">
                            <div class="col-span-12">
                              <div class="ipt-gr">
                                <span class="required title"> Họ và tên </span>
                                <input
                                  type="text"
                                  name=""
                                  id=""
                                  placeholder="Nhập họ và tên"
                                />
                              </div>
                            </div>

                            <div class="col-span-12">
                              <div class="ipt-gr">
                                <span class="required title">
                                  Số điện thoại
                                </span>
                                <input
                                  type="text"
                                  name=""
                                  id=""
                                  placeholder="Nhập số điện thoại"
                                />
                              </div>
                            </div>

                            <div class="col-span-12 lg:col-span-6">
                              <div class="ipt-gr">
                                <span class="required title">
                                  Tỉnh/ Thành
                                </span>
                                <select name="" id="">
                                  <option value="">Chọn tỉnh thành</option>
                                  <option value="">Chọn tỉnh thành</option>
                                  <option value="">Chọn tỉnh thành</option>
                                </select>
                              </div>
                            </div>

                            <div class="col-span-12 lg:col-span-6">
                              <div class="ipt-gr">
                                <span class="required title"> Dự án </span>
                                <select name="" id="">
                                  <option value="">Chọn dự án</option>
                                  <option value="">Chọn dự án</option>
                                  <option value="">Chọn dự án</option>
                                </select>
                              </div>
                            </div>

                            <div class="col-span-12 lg:col-span-6">
                              <div class="ipt-gr">
                                <span class="required title"> Nguồn </span>
                                <select name="" id="">
                                  <option value="">Chọn nguồn</option>
                                  <option value="">Chọn nguồn</option>
                                  <option value="">Chọn nguồn</option>
                                </select>
                              </div>
                            </div>

                            <div class="col-span-12 lg:col-span-6">
                              <div class="ipt-gr">
                                <span class="required title"> Sale </span>
                                <select name="" id="">
                                  <option value="">Chọn Sale</option>
                                  <option value="">Chọn Sale</option>
                                  <option value="">Chọn Sale</option>
                                </select>
                              </div>
                            </div>

                            <div class="col-span-12">
                              <div class="ipt-gr">
                                <span class="required title"> Ghi chú </span>
                                <textarea
                                  name=""
                                  id=""
                                  class="min-h-[135px]"
                                ></textarea>
                              </div>
                            </div>

                            <div class="col-span-12 mt-3">
                              <div class="text-center">
                                <button
                                  type="button"
                                  class="inline-flex items-center !p-[5px_30px] !bg-[#3F8CFE] !rounded-[8px] text-[#fff] text-[16px] font-bold"
                                >
                                  Xác nhận
                                </button>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- <table-magic></table-magic> -->
          </div>
        </div>
      </main>
    </div>
    <script src="js/vue.global.js"></script>
    <script src="js/vue3-sfc-loader.js"></script>
    <script src="js/vuedefineasync.js"></script>
    <script src="libs/jquery/jquery-3.7.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <script src="libs/bootstrap/popper.min.js"></script>
    <script src="libs/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="libs/swiper/swiper-bundle.min.js"></script>

    <script src="js/index.global.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/tippy.umd.min.js"></script>
    <script src="js/croppie.min.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-enterprise@33.1.1/dist/ag-grid-enterprise.min.js"></script>
    <script defer src="js/main.js"></script>
    <script>
      Vue.createApp({
        components: {
          sidebar: Vue.defineAsyncComponent(() =>
            loadModule('./vue_components/sidebar.vue', options),
          ),
          'root-layout': Vue.defineAsyncComponent(() =>
            loadModule('./vue_components/root-layout.vue', options),
          ),
          'user-switch': Vue.defineAsyncComponent(() =>
            loadModule('./vue_components/user-switch.vue', options),
          ),
          'filte-table': Vue.defineAsyncComponent(() =>
            loadModule('./vue_components/filte-table.vue', options),
          ),
          'table-magic': Vue.defineAsyncComponent(() =>
            loadModule('./vue_components/table-magic.vue', options),
          ),
        },
        data() {
          return {}
        },
        mounted() {
          window.onload = () => {
            // $('#modalAdminAdding').modal('show')
          }
        },
      }).mount('#app')
    </script>
  </body>
</html>
