.rag-green {
  background-color: #a5d6a7;
}
.rag-blue {
  background-color: #90caf9;
}
.rag-red {
  background-color: #ef9a9a;
}
.rag-yellow {
  background-color: #fff59d;
}
.rag-purple {
  background-color: #ce93d8;
}

span.ag-header-icon.ag-header-cell-menu-button.ag-header-menu-icon.ag-header-menu-always-show {
  display: none !important;
}

#magicTable {
  .ag-header {
    height: 36px !important;
    min-height: 36px !important;
    background: #f4f9fd;
    border-radius: 8px !important;
    border: none !important;
    margin-bottom: 14px !important;
  }

  .ag-header-row {
    height: 36px !important;
  }

  .ag-header-cell,
  .ag-header-group-cell {
    height: 36px !important;
    padding: 0 10px;
  }

  .ag-root-wrapper {
    border: none !important;
    border-radius: 0 !important;
  }

  .ag-header-cell-text {
    color: #363636;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .ag-header-cell-resize {
    &::after {
      content: none;
    }
  }

  .ag-cell {
    display: flex;
    flex-flow: column;
    justify-content: center;
    color: #363636;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 10px !important;
    border-radius: 4px;
    height: 24px;

    a {
      color: #e42828;
    }
  }

  .ag-row {
    border: 1px solid #c8c8c8;
    background: #fafafa;
    height: 30px !important;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  .ag-header-icon {
    &:hover {
      box-shadow: none !important;
      background-color: transparent !important;
    }
  }

  .ag-icon-filter {
    height: 100% !important;
    width: auto;

    &::before {
      mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M15 10L12 13L9 10H15Z" fill="%233F8CFE" stroke="%233F8CFE" stroke-width="2" stroke-linejoin="round"/></svg>');
      background-color: #3f8cfe;
      width: 24px;
      height: 24px;
    }
  }

  .ag-menu {
    border: none !important;
  }

  .ag-set-filter {
    border-radius: 8px;
    border: 1px solid #ececec;
    background: #fff;
  }

  .ag-label-ellipsis,
  .ag-input-field-input {
    color: #363636;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.ag-pinned-right-header {
  border: none !important;
}

.ag-cell.ag-cell-first-right-pinned:not(
    .ag-cell-range-left,
    .ag-cell-range-single-cell,
    .ag-cell-focus:not(.ag-cell-range-selected):focus-within
  ) {
  border: none !important;
}

.ag-pinned-right-cols-container .ag-row {
  background: rgba(255, 255, 255, 0.6) !important;
}
